* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #c95e5e;
  padding: 20px 100px;
  align-items: center;
  border-bottom-right-radius: 1rem;
 
}

#cabeçalho{
  display: flex;
  justify-content: center;
  align-items: center;
 


}
body {
  font-family:  Arial, sans-serif;
  background-color: whitesmoke;
}
a{
    color: white;
    
  text-decoration: none;
}
nav ul{

display: flex;
align-items:end;
justify-content: space-around;
list-style: none;
text-transform: uppercase;

}
#corpo h1  {
  justify-content: center;
  align-items: center;  
  display: flex;
  color: #555;

}
h2{
  justify-content: center;
  align-items: center;  
  display: flex;
  color: #555;


}
#corpo li{
display:flex;
justify-content: center;
    color: #555;
  
}
.info{
  border: #e74c3c;
  border-style: solid;
  border-radius: 1rem;
  background-color: white;
  justify-items: center;
  display: grid; 
  color: #555;

  
}
div  {
  border: #e74c3c;
border-style: solid;
border-radius: 1rem;
background-color: white;
justify-items: center;
display: grid; }
table{
  border-collapse: collapse;
  width: 75%;
  border: .25rem solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

}

.dados td{
  background-color: #c95e5e;
}
table td{
  background-color: white;
  border: .25rem solid black;
  padding: 1rem;
  
  
  
}

footer{
  background-color: #c95e5e;
  position: absolute;
  height: 2.5%;
  width: 100%;  
  border-top-right-radius: 1rem;
}
footer nav{

  display: flex;
  align-items:end;
  justify-content: space-around;
  list-style: none;
  }
